<div class="container">
    <div class="card">
      <div class="card-body">
        <h5>{{ contactInput.fName }} {{ contactInput.lName }}</h5>
        <hr />
        <p>Call or text at: {{ contactInput.phoneNum }}
            <br>
            Email at: {{ contactInput.email }}
        </p>
      </div>
      <div class="card-footer text-muted">
        <button type="button" class="btn btn-primary btn2" (click)="editContact()"> Edit </button>
        <button type="button" class="btn btn-danger btn2" (click)="deleteContact()"> Delete </button>
      </div>
    </div>
  </div>
